# Data Science Tools and Ecosystem

In this notebook, we are going to learn about the basics of data science.

Some of the languages used are:
1. Python
2. R
3. SQL
4. Java
5. C++

Some commnly used libraries are:
1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. matplot
6. keras
7. PyTorch

|Data science tools|
|----|
|TensorFLOW|
|ApacheHadoop|
|SAS|

### Below are the few examples of evaluating aretematic experssions in python.

In [3]:
#this is a common example to multiply and then add integers.
(3*4)+5

17

In [4]:
#this will convert 200 min into hours by dividing itself by 60
200/60

3.3333333333333335

_objective_
* list languages in data science
* list libraries in data science
* list tools in data science
* comment in a cell

## Author
Gourav Kumar